.ContentCard{
    border-bottom: 1px rgb(240, 240, 240) solid;
}

.normal .title {
    max-width: 100%;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.85);
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
}

.mood .title{
    display: none;
}

.normal .content{
    max-width: 100%;
    min-height: 120px;
    overflow: hidden;
}

.mood .content{
    width: 100%;
}

.normal .contentText{
    padding-right: 10px;
    font-size: 13.5px;
    margin-bottom: 10px;
    line-height: 25px;
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 400;
}

.mood .contentText{
    margin-top: 10px;
    font-size: 13.5px;
    line-height: 25px;
    max-height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 400;
}

.normal .contentImg{
    height: 200px;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.mood .contentImg{
    max-width: 100%;
    max-height: 300px;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.normal .contentImg img{
    height: 100%;
    margin: 0px -100%;
}

.mood .contentImg img{
    max-width: 100%;
    max-height: 100%;
    margin: 0px -100%;
}

.normal .meta{
    width: 100%;
    margin-top: 5px;
}

.mood .meta{
    width: 100%;
    margin: 5px;
}

.normal .tags,.mood .tags{
    display: inline-block;
    height: 100%;
    float: left;
}


.normal .tag,.mood .tag{
    display: inline-block;
    padding: 2px 5px;
    color: #3f8de2;
    border: 1px #3f8de2 solid;
    border-radius: 5px;
    font-size: 13px;
    margin: 7px 7px 0px 0px;
}


.normal .statis,.mood .statis{
    float: left;
    height: 40px;
}

.normal .viewStatis,.normal .starStatis,.normal .commentStatis, .mood  .viewStatis,.mood .starStatis,.mood .commentStatis{
    display: inline-block;
    font-size: 13px;
    margin-left: 12px;
    height: 40px;
    line-height: 40px;
    color: #999;
    cursor: pointer;
}

.normal .viewStatisNum,.mood .viewStatisNum{
    display: inline-block;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    color: #999;
}

.normal .starStatis{
}
