
.ant-card-wider-padding .ant-card-body, .ant-card-body, .ant-card-loading .ant-card-body{
    padding: 15px 20px;
}

.ant-card-loading-content{
    padding: 0px;
}

.ant-card-padding-transition .ant-card-body {
    -webkit-transition: padding 0s;
    transition: padding 0s;
}
